<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" media="screen" href="AmaticSC-Regular.ttf" type="text/css"/>
	<link rel="stylesheet" media="screen" href="PTSans-Regular.ttf" type="text/css"/>
	<title>ChirpTheBoy's Let's Play Video Collection</title>
</head>
<body>
	<!---------------------------------------------------------
	 Container for VanillaCraft SSP 1.14.3
	 //------------------------------------------------------->
	<div>
		<a id="hide3" href="#hide3" class="hide">
			<div id="headerVC">
				<span class="title">MINECRAFT</span>
				<span class="subtitle">VanillaCraft SSP</span>
				<span class="description">Survival Single Player in Vanilla Minecraft 1.14.3! Exploring new aquatic and village updates since 1.12. Come join for some mod-less gameplay with an HD resourcepack and shaders.</span>
			</div>
		</a>
		<a id="show3" href="#show3" class="show">
			<div id="headerVC">
				<span class="title">MINECRAFT</span>
				<span class="subtitle">VanillaCraft SSP</span>
				<span class="description">Survival Single Player in Vanilla Minecraft 1.14.3! Exploring new aquatic and village updates since 1.12. Come join for some mod-less gameplay with an HD resourcepack and shaders.</span>
			</div>
		</a>
		<div class="details">
			<a href="https://spee.ch/@ChirpTheBoy:6/VanillaCraft-Episode01" target="new"><div class="playlistitemVC"><span class="title">Episode 01</span><span class="description">24:48<br />Adjusting to vanilla Minecraft by checking out a nearby village.</span></div></a>
			<a href="https://spee.ch/@ChirpTheBoy:6/VanillaCraft-Episode02" target="new"><div class="playlistitemVC"><span class="title">Episode 02</span><span class="description">32:08<br />It's time already to build a house, so we revisit the ever-useful log cabin.</span></div></a>
		</div>
	</div>
	<!---------------------------------------------------------
	 Container for FTB Sky Adventures
	 //------------------------------------------------------->
	<div>
		<a id="hide2" href="#hide2" class="hide">
			<div id="headerFTBSA">
				<span class="title">MINECRAFT</span>
				<span class="subtitle">FTB: Sky Adventures</span>
				<span class="description">Taking on a new adventure! Trying to survive the lonely days and nights, stranded on a sky hill. Watch the most inefficient FTB gameplay you've ever witnessed, as I learn everything from scratch.</span>
			</div>
		</a>
		<a id="show2" href="#show2" class="show">
			<div id="headerFTBSA">
				<span class="title">MINECRAFT</span>
				<span class="subtitle">FTB: Sky Adventures</span>
				<span class="description">Taking on a new adventure! Trying to survive the lonely days and nights, stranded on a sky hill. Watch the most inefficient FTB gameplay you've ever witnessed, as I learn everything from scratch. Audio is desynched for a few episodes.</span>
			</div>
		</a>
		<div class="details">
			<a href="https://spee.ch/@ChirpTheBoy:6/SkyAdventures-Ep01" target="new"><div class="playlistitemFTBSA"><span class="title">Episode 01</span><span class="description">XX:XX<br />Not currently working. Need to re-upload to LBRY network.</span></div></a>
			<a href="https://spee.ch/@ChirpTheBoy:6/SkyAdventures-Ep02" target="new"><div class="playlistitemFTBSA"><span class="title">Episode 02</span><span class="description">XX:XX<br />Not currently working. Need to re-upload to LBRY network.</span></div></a>
			<a href="https://spee.ch/@ChirpTheBoy:6/SkyAdventures-Ep03-Part01" target="new"><div class="playlistitemFTBSA top"><span class="title">Episode 03</span><span class="subtitle">Part 01</span><span class="description">1:00:41<br />I give my chickens a nesting pen home, and venture downward to build a mob-spawning platform.</span></div></a>
			<a href="https://spee.ch/@ChirpTheBoy:6/SkyAdventures-Ep03-Part02" target="new"><div class="playlistitemFTBSA mid"><span class="title">Episode 03</span><span class="subtitle">Part 02</span><span class="description">1:00:41<br />The Giving Tree finally gets the axe. If only I knew about OreExcavation! Also I finish and then completely re-work the spawning platform.</span></div></a>
			<a href="https://spee.ch/@ChirpTheBoy:6/SkyAdventures-Ep03-Part03" target="new"><div class="playlistitemFTBSA bottom"><span class="title">Episode 03</span><span class="subtitle">Part 03</span><span class="description">1:14:45<br />Egg troubles abound! (Only because I don't follow directions).</span></div></a>
			<a href="https://spee.ch/@ChirpTheBoy:6/SkyAdventures-Ep04" target="new"><div class="playlistitemFTBSA"><span class="title">Episode 04</span><span class="description">47:58<br />The mob spawner brings me nothing but woe and heartache. Still stubbornly breeding chickens until I get what I want. Finally getting my sieve on.</span></div></a>
			<a href="https://spee.ch/@ChirpTheBoy:6/SkyAdventures-Ep05" target="new"><div class="playlistitemFTBSA"><span class="title">Episode 05</span><span class="description">1:02:55<br />I learn the truth about chickens I supposedly "can't breed," and then go on a breeding frenzy. </span></div></a>
			<a href="https://spee.ch/@chirptheboy:6/SkyAdventures-Ep06" target="new"><div class="playlistitemFTBSA"><span class="title">Episode 06</span><span class="description">1:05:04<br /><b>The Interesting Episode.</b><br />I finally make a Transmutation Table and try to use it. (Imagine a caveman trying to drive a car.) I also fire up a Tinker's smeltery, attempt fluid block transformations, create The Chicken Platform™, and the base of my future home. Also, spider punching!</span></div></a>
			<a href="https://spee.ch/@chirptheboy:6/SkyAdventures-Ep07Part-01" target="new"><div class="playlistitemFTBSA"><span class="title">Episode 0</span><span class="subtitle">Part 01</span><span class="description">1:00:00<br />Video stops after like 3 minutes. Need to rework my mad FFMPEG skills.</span></div></a>
		</div>
	</div>
	<!---------------------------------------------------------
	 Container for GuacCraft SMP
	 //------------------------------------------------------->
	<div>
		<a id="hide1" href="#hide1" class="hide">
			<div id="headerGCSMP">
				<span class="title">MINECRAFT</span>
				<span class="subtitle">GuacCraft: SMP</span>
				<span class="description">Playing FTB Revelations on the GuacCraft server. Playing as a vegetarian islander, surviving and thriving in the jungle.</span>
			</div>
		</a>
		<a id="show1" href="#show1" class="show">
			<div id="headerGCSMP">
				<span class="title">MINECRAFT</span>
				<span class="subtitle">GuacCraft: SMP</span>
				<span class="description">Playing FTB Revelations on the GuacCraft server. Playing as a vegetarian islander, surviving and thriving in the jungle.</span>
			</div>
		</a>
		<div class="details">
			<a href="https://spee.ch/@ChirpTheBoy:6/GuacCraft-Episode-01" target="new"><div class="playlistitemGCSMP"><span class="title">Episode 01</span><span class="description">25:27<br />Kicking it off on my island in the jungle.</span></div></a>
			<a href="https://spee.ch/@ChirpTheBoy:6/GuacCraft-Episode-02" target="new"><div class="playlistitemGCSMP"><span class="title">Episode 02</span><span class="description">39:11<br />More things happen, I think.</span></div></a>
		</div>
	</div>
</body>
