@font-face {
  font-family: 'Amatic';
  src: url('AmaticSC-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  src: url('PTSans-Regular.ttf')  format('truetype');
}
.details,
.show,
.hide:target {
  display: none;
  position:relative;
}
.hide:target + .show,
.hide:target ~ .details {
  display: block;
}
body{
	width:100%;
	height:100%;
}
.details {
  width:700px;
  margin-left:20px;
}
a,a:visited{
  color:#222222;
}
.playlistitemJS {
  position: relative;
  left: 0;
  top: 0;
  width:700px;
  height:169px;
  background:#ffffff url(images/thumb_mc-js.png);
  background-size: 300px 169px;
  background-repeat: no-repeat;
  margin: 20px;
  border: 1px solid #666666;
}
.playlistitemVC {
  position: relative;
  left: 0;
  top: 0;
  width:700px;
  height:169px;
  background:#ffffff url(images/thumb_mc-ftb-vc.png);
  background-size: 300px 169px;
  background-repeat: no-repeat;
  margin: 20px;
  border: 1px solid #666666;
}
.playlistitemFTBSA {
  position: relative;
  left: 0;
  top: 0;
  width:700px;
  height:169px;
  background:#ffffff url(images/thumb_mc-ftb-sa.png);
  background-size: 300px 169px;
  background-repeat: no-repeat;
  margin: 20px;
  border: 1px solid #666666;
 }
.playlistitemGCSMP {
  position: relative;
  left: 0;
  top: 0;
  width:700px;
  height:169px;
  background:#ffffff url(images/thumb_mc-gc-smp.png);
  background-size: 300px 169px;
  background-repeat: no-repeat;
  margin: 20px;
  border: 1px solid #666666;
}
.top {
  border-bottom: 0px;
  margin-bottom: 0px;
  padding-bottom: 10px;
}
.mid {
  margin-bottom: 0px;
  margin-top: 0px;
  border-bottom: 0px;
  border-top: 0px;
  padding-bottom: 10px;
}
.bottom{
  border-top: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
}
#headerJS{
  position: relative;
  left: 0;
  top: 0;
  width:700px;
  height:169px;
  background:#f8f8f8 url(images/thumb_mc-js.png);
  background-size: 300px 169px;
  background-repeat: no-repeat;
  margin: 20px;
  border: 1px solid #888;
}
#headerVC{
  position: relative;
  left: 0;
  top: 0;
  width:700px;
  height:169px;
  background:#f8f8f8 url(images/thumb_mc-ftb-vc.png);
  background-size: 300px 169px;
  background-repeat: no-repeat;
  margin: 20px;
  border: 1px solid #888;
}
#headerGCSMP {
  position: relative;
  left: 0;
  top: 0;
  width:700px;
  height:169px;
  background:#f8f8f8 url(images/thumb_mc-gc-smp.png);
  background-size: 300px 169px;
  background-repeat: no-repeat;
  margin: 20px;
  border: 1px solid #888;
}
#headerFTBSA {
  position: relative;
  left: 0;
  top: 0;
  width:700px;
  height:169px;
  background:#f8f8f8 url(images/thumb_mc-ftb-sa.png);
  background-size: 300px 169px;
  background-repeat: no-repeat;
  margin: 20px;
  border: 1px solid #888;
}
.title {
  position: absolute;
  font-family: 'Amatic';
  font-size: 70px;
  font-weight: bold;
  z-index: 100;
  left: 10px;
  top: 10px;
  color: white;
  text-shadow: 2px 2px #000000;
}
.subtitle{
  position: absolute;
  font-family: 'Amatic', serif;
  font-size: 50px;
  font-weight: bold;
  z-index: 100;
  left: 10px;
  top: 80px;
  color: white;
  text-shadow: 2px 2px #000000;
}
.description{
  position:absolute;
  left:320px;
  top: 10px;
  font-family:'PT Sans';
  font-size:18px;
  padding-right:10px;
}
